@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

.gitCard {
    display: grid;
    grid-template-rows: 20vh 30vh;
    margin: 2rem;
    gap: 2rem;
    width: 40%;
    background-color: #F2E9E4;
    border-radius: 20px;
    overflow: hidden;
    font-family: "Blinker";
}

.cardHeader {
    grid-row: 1;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-items: center;
    background-color: #AF7A6D;
    border-radius: 20px;
}

.cardHeader img {
    grid-column: 1;
    width: auto;
    height: 20vh;
}

.cardHeader h3 {
    grid-column: 2;
    color: #F2E9E4;
    font-size: 24px;
    margin-left: 10%;
    margin-right: 30%;
}

.details {
    grid-row: 2;
    display: grid;
    grid-template-rows: 50% 40%;
    font-size: 22px;
    color: #AF7A6D;
}

.details h3 {
    margin: 20px;
    font-size: 18px;
    color: #AF7A6D;
}

.statistics {
    display: grid;
    grid-template-columns: 50% 50%;
}

.starCounter {
    grid-column: 1;
}

.watchCounter {
    grid-column: 2;
}
